* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  border: none;
  outline: none;
}

:root {
  --bg-color: #191919;
  --second-bg-color: #101010df;
  --main-color: rgba(0, 255, 255, 0.416);
  --text-color: #fff;
  --second-color: #e4e4e4;
  --other-color: #c6c9d8bf;

  --h1-font: 7rem;
  --h2-font: 3.5rem;
  --p-font: 1.1rem;
}

body {
  color: var(--text-color);
  background: var(--bg-color);
}

.progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
}

.progress-bar {
  height: 3px;
  width: 0;
  background: white;
  transition: all 0.5s ease-out;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 28px 11%;
  border-bottom: 1px solid transparent;
  transition: all 0.5s ease;
}

.logo img {
  width: 70%;
  height: auto;
}

.navlist {
  display: flex;
}

.navlist a {
  color: var(--second-color);
  font-size: var(--p-font);
  font-weight: 600;
  margin: 0 40px;
  transition: all ease 0.4s;
}

.navlist a:hover {
  color: yellow;
}

#menu-icon {
  font-size: 42px;
  color: var(--text-color);
  cursor: pointer;
  z-index: 10001;
  display: none;
}

section {
  padding: 120px 19% 100px;
}

.email-icon {
  color: #ed8f8f;
  margin-left: 5px;
  font-size: 20px;
}

.home {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background: url(img/background.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hero-text h3 {
  color: var(--second-color);
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
  word-spacing: 10px;
}
.surname-start {
  margin-left: 10px;
}
.hero-text {
  display: inline-block;
}
.hero-text h1 {
  font-family: "Dosis", sans-serif;
  font-size: var(--h1-font);
  color: var(--text-color);
  font-weight: 800;
}
.hero-text h1 span {
  font-family: "Dosis", sans-serif;
  font-size: var(--h1-font);
  color: var(--text-color);
}
.hero-text h1 span:hover {
  color: yellow;
  cursor: cell;
  text-decoration: underline;
}
.a-text {
  margin-right: 4px;
}
.typing-text-container {
  display: flex;
  gap: 6px;
  margin: 1.5rem 0 3rem 0;
}

.typed-cursor {
  color: rgb(253, 248, 252);
  margin-top: 1px;
}
.typed-cursor.typed-cursor--blink {
  animation: typedjsBlink 1s infinite;
}

.hero-text h4 {
  font-size: 20px;
  color: var(--second-color);
  font-weight: 600;
}

.btn {
  display: inline-block;
  padding: 16px 45px;
  background: var(--main-color);
  color: var(--text-color);
  font-size: var(--p-font);
  font-weight: 600;
  border: 2px solid var(--main-color);
  transition: all ease 0.5s;
  cursor: pointer;
  border-radius: 40px;
}

.btn:hover {
  transform: translateX(5px);
  background: transparent;
  border: 2px solid var(--main-color);
}

.loading {
  cursor: progress;
  pointer-events: none;
  border: none;
  position: relative;
}

.loading::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

header.sticky {
  background: #000;
  padding: 2px 11%;
  border-bottom: 1px solid #4e5055;
}

.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  align-items: center;
  gap: 4rem;
}

.about-img img {
  width: 350px;
  aspect-ratio: 1;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
.about-img img:hover {
  transform: scale(1.05);
  cursor: pointer;
  /* animation: image-spin 1.2s 1; */
}

.about-text h2 {
  font-family: "Dosis", sans-serif;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 10px;
}
.about-text h2:hover {
  color: var(--main-color);
  cursor: cell;
  text-decoration: none;
}

.about-text h5 {
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 1.4;
}
span {
  color: var(--main-color);
}

.about-text p {
  color: var(--other-color);
  font-size: var(--p-font);
  line-height: 30px;
  margin-bottom: 3rem;
}

.about-text ol li {
  margin-bottom: 1rem;
  color: var(--other-color);
}

.about-text ol li::before {
  content: "▶";
  color: rgb(21, 156, 69);
  margin-right: 4px;
}

.about-text ol {
  margin: 1.5rem 0;
}

.text-center {
  text-align: center;
}
.skills {
  background: var(--second-bg-color);
}
.skills h3 {
  text-align: center;
}
.skills-img {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.skills-container {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.skills-img img {
  height: 72px;
  width: 80px;
  transition: all 0.5s ease-in-out;
}

.skills-img img:hover {
  transform: scale(1.3);
  cursor: pointer;
  /* animation: image-spin 1.2s 1; */
}

.skills h2 {
  font-family: "Dosis", sans-serif;
  font-size: var(--h2-font);
  font-weight: 800;
  margin-bottom: 10px;
  text-align: center;
}
.skills h2:hover {
  color: var(--main-color);
  cursor: cell;
  text-decoration: none;
}

.text-center h2 {
  font-family: "Dosis", sans-serif;
  font-size: var(--h2-font);
  font-weight: 800;
  margin-bottom: 10px;
}
.project-text-center h2:hover {
  color: rgba(0, 255, 255, 0.416);
  cursor: cell;
  text-decoration: none;
}

.text-center h4 {
  font-size: 22px;
  font-weight: 500;
}

.project {
  background: var(--bg-color);
}
.project-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 2.2rem;
  text-align: center;
  margin-top: 4rem;
}

.project-box {
  padding: 45px 30px;
  background: var(--second-bg-color);
  border-radius: 0.8rem;
  border: 1px solid transparent;
  transition: all ease 0.5s;
  box-shadow: 0 0 30px -15px rgba(0, 255, 255, 0.416);
}
.project-box:hover {
  background: #292931;
  transform: scale(1.04);
  box-shadow: 0 0 30px -30px #6b5252;
}

.project-box img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.project-text-center {
  text-align: center;
}

.project-text-center h2 {
  font-family: "Dosis", sans-serif;
  font-size: var(--h2-font);
  font-weight: 800;
  margin-bottom: 10px;
}

.project-text-center h4 {
  font-size: 22px;
  font-weight: 500;
}

.project i {
  font-size: 50px;
  color: var(--main-color);
  margin-bottom: 10px;
}

.project h3 {
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 12px;
}

.project p {
  color: var(--other-color);
  font-size: var(--p-font);
  line-height: 30px;
  margin-bottom: 1.5rem;
}

.s-btnn {
  display: inline-block;
  padding: 9px 24px;
  background: var(--main-color);
  color: var(--text-color);
  font-size: 15px;
  font-weight: 500;
  border: 2px solid var(--main-color);
  border-radius: 2rem;
  transition: all ease 0.5s;
}

.s-btnn:hover {
  transform: scale(1.1);
  background: transparent;
  border: 2px solid var(--main-color);
}

.service-box:hover {
  transform: translate(-5px);
  border: 1px solid #4e5055;
}

.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  align-items: center;
  gap: 10rem;
  background: var(--second-bg-color);
  justify-content: center;
}

.form {
  width: 640px;
  height: 440px;
  background: var(--bg-color);
  border-radius: 8px;
  box-shadow: 0 0 30px -10px rgba(0, 255, 255, 0.416);
  margin: auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
  transition: all ease 0.4s;
  cursor: pointer;
}
.form:hover {
  transform: scale(1.02);
  box-shadow: 0 0 30px -10px #c38f8f;
}
.left-contact {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 3rem;
}

.in i {
  color: var(--main-color);
  opacity: 0.5;
  font-size: 70px;
  margin-bottom: 15px;
  transition: all ease 0.4s;
}

.in i:hover {
  opacity: 1;
  cursor: pointer;
}

.in h4 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.contact-h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: var(--second-color);
}
input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-size: 16px;
  color: var(--second-color);
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #35353e;
}
input:hover {
  border-bottom: 2px solid white;
}
input:focus {
  border-bottom: 2px solid white;
}
p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a;
}
button {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Montserrat", sans-serif;
  background: #78788c;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  border: 2px solid var(--main-color);
  border-radius: 2rem;
  transition: all ease 0.5s;
  cursor: pointer;
}
button:hover {
  transform: scale(1.1);
  background: transparent;
  border: 2px solid var(--main-color);
}

.end-section {
  padding: 40px 19% 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: var(--bg-color);
}

.end-section p {
  color: var(--other-color);
  font-size: var(--p-font);
  line-height: 10px;
  margin-bottom: 20px;
}

.end-section i {
  height: 40px;
  width: 40px;
  background: var(--main-color);
  color: var(--text-color);
  border: 2px solid var(--main-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 50%;
  margin: 0 9px;
  transition: all ease 0.5s;
}

.end-section i:hover {
  transform: translateY(-5px);
  background: transparent;
  border: 2px solid var(--main-color);
}

.scroll-bttn i {
  position: fixed;
  right: 2.2rem;
  bottom: 2.2rem;
  color: var(--text-color);
  background: var(--main-color);
  font-size: 23px;
  padding: 9px;
  border-radius: 0.8rem;
}

@media (max-width: 1600px) {
  header {
    padding: 14px 4%;
  }
  header.sticky {
    padding: 8px 4%;
  }
  section {
    padding: 100px 5% 80px;
  }
}

@media (max-width: 1200px) {
  .home {
    min-height: 90vh;
  }
  .navlist a {
    margin: 0 20px;
  }
  :root {
    --h1-font: 5rem;
    --h2-font: 3.1rem;
    --p-font: 1rem;
  }
}

@media (max-width: 1060px) {
  .about {
    grid-template-columns: 1fr;
  }
  .about-img {
    text-align: center;
    order: 2;
  }
  .service-item {
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  }
  .contact {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 870px) {
  #menu-icon {
    display: block;
  }
  .progress-bar {
    height: 5px;
  }
  .navlist {
    position: absolute;
    top: -800px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: #000;
    padding: 20px 0;
    text-align: left;
    transition: alld 0.5s ease;
  }
  .navlist a {
    display: block;
    font-size: 22px;
    padding: 12px 0;
  }
  .navlist.open {
    top: 100%;
  }

  .about-img img {
    width: 260px;
  }
}

@media (max-width: 870px) {
  .home {
    min-height: 80vh;
  }

  :root {
    --h1-font: 3.8rem;
    --h2-font: 2.7rem;
    --p-font: 15px;
  }
  .hero-text h4 {
    font-size: 18px;
  }
  .skills-img img {
    height: 55px;
    width: 60px;
  }

  form {
    align-items: center;
    gap: 0.7rem;
  }

  .btn {
    padding: 10px 35px;
  }
  .left-contact {
    display: none;
  }
  .in i {
    font-size: 80px;
  }
  .in h4 {
    font-size: 20px;
  }
}

@media (max-width: 460px) {
  :root {
    --h1-font: 3rem;
    --h2-font: 2.5rem;
  }

  .hero-text h4 {
    font-size: 16px;
  }
  .right-contact input,
  .right-contact textarea {
    width: 80%;
  }
  .left-contact {
    display: none;
  }
  .hero-text h1 span {
    font-size: 48px;
  }

  .end-section i {
    display: inline;
    align-items: center;
    text-align: center;
  }
  /* .project {
    background: none;
  }
  .project-box {
    background: var(--second-bg-color);
  } */
  .service-item {
    display: grid;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
    margin-top: 4rem;
  }

  .service-box {
    padding: 45px 30px;
    border-radius: 1.5rem;
    position: relative;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all ease 0.5s;
    background: var(--second-bg-color);
  }

  .project-box {
    padding: 8px 20px 16px;
    position: relative;
    border-radius: 2rem;
  }
  .end-section {
    padding: 30px 19% 40px;
  }
  .scroll-bttn i {
    position: fixed;
    right: 0.7rem;
    bottom: 0.7rem;
  }
}

.whatsapp-icon {
  font-size: 24px;
  color: #56dc87;
}

.whatsapp-btn {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 8px;
}
